//ESTILOS PARA MOBILE
/*& when (@media-common = true) {
    #html-body {
        &.cms-home {
            .page-wrapper {
                .page-main {
                    .columns {
                        .column {
                            [data-content-type="block"] {
                                .widget {
                                    .ContenBloque1Eslider{
                                        .kiko-slider{
                                            height: 110px;
                                            min-height: 110px;
                                            .slick-prev{
                                                background-color: transparent;
                                            }
                                            .slick-next{
                                                background-color: transparent;
                                                width: 20px;
                                                ::before{
                                                    font-size: 15px;
                                                }
                                            }
                                            .slick-list{
                                                .slick-track{
                                                    height: 168px;
                                                    .slick-slide{

                                                        .Class-prueba-kiko{
                                                            line-height: 9px;

                                                            .pagebuilder-slide-wrapper{
                                                                background-size: contain;
                                                                background-position: top center;
                                                                min-height: 123px;
                                                                .pagebuilder-overlay{
                                                                    min-height: 0;
                                                                    padding: 0;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}*/
& when (@media-common = true) {

}
